.darksoul-container
{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.darksoul-cards-carousel
{
    width: 1000px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.darksoul-cards-carousel-bg
{
    width: 1000px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    display: flex;
    overflow: hidden;
}
.darksoul-cards-carousel-content
{
    width: 600px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    margin: auto;
    display: flex;
    flex-direction: column;
}
#jscarousel-darksoul-cards-carousel-item-1
{
    margin: auto;
    margin-left: 20px;
    min-width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    border-radius: 20px;
    margin-right: 10px;
    background-color: #e1ecc8;
    position: relative;
}
#jscarousel-darksoul-cards-carousel-item-2
{
    margin: auto;
    min-width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    border-radius: 20px;
    margin-right: 10px;
    background-color: #FDCEDF;
    position: relative;
}

#jscarousel-darksoul-cards-carousel-item-3
{
    margin: auto;
    min-width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    border-radius: 20px;
    margin-right: 10px;
    background-color: #9BABB8;
    position: relative;
}
#jscarousel-darksoul-cards-carousel-item-4
{
    margin: auto;
    min-width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    border-radius: 20px;
    margin-right: 10px;
    background-color: #B2A4FF;
    position: relative;
}
#jscarousel-darksoul-cards-carousel-item-5
{
    margin: auto;
    min-width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    border-radius: 20px;
    margin-right: 10px;
    background-color: #93bfcf;
    position: relative;
}
.darksoul-btn-prev
{
    margin: auto;
    background-color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
}
.darksoul-btn-prev:hover
{
    transform: scale(1.2);
    transition-duration: 0.7s;
}
.darksoul-btn-next
{
    margin: auto;
    background-color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
}
.darksoul-btn-next:hover 
{
    transform: scale(1.2);
    transition-duration: 0.7s;
}
.darksoul-cards-carousel-buttons
{
    margin: auto;
}

/* LEFT HALF */
@keyframes prev 
{
    0%
    {
        right: 0px; 
    }
    100%
    {
        right:  200px;
    }
    
}
@keyframes prev1 
{
    0%
    {
        right: 200px; 
    }
    100%
    {
        right:  400px;
    }
    
}
@keyframes prev2 
{
    0%
    {
        right: 400px; 
    }
    100%
    {
        right:  600px;
    }
    
}

@keyframes next-1 
{
    0%
    {
        left: -200px;
    }
    100%
    {
        left: 0px;
    }
    
}
@keyframes next-2 
{
    0%
    {
        left: -400px;
    }
    100%
    {
        left: -200px;
    }
    
}
@keyframes next-3 
{
    0%
    {
        left: -600px;
    }
    100%
    {
        left: -400px;
    }
    
}

/* RIGHT SIDE */
@keyframes next 
{
    0%
    {
        left: 0px;
    }
    100%
    {
        left: 200px;
    }
    
}
@keyframes next1 
{
    0%
    {
        left: 200px;
    }
    100%
    {
        left: 400px;
    }
    
}
@keyframes next2 
{
    0%
    {
        left: 400px;
    }
    100%
    {
        left: 600px;
    }
    
}
@keyframes prev-1 
{
    0%
    {
        right: -200px; 
    }
    100%
    {
        right:  0px;
    }
    
}
@keyframes prev-2 
{
    0%
    {
        right: -400px; 
    }
    100%
    {
        right: -200px;
    }
    
}
@keyframes prev-3 
{
    0%
    {
        right: -600px; 
    }
    100%
    {
        right: -400px;
    }
    
}


/* Card positioning and animation */
/* .card {
    position: absolute;
    min-width: 150px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
    border-radius: 20px;
    margin-right: 10px;
    transition: transform 0.5s ease;
  } */
  
  .card-center {
    transform: scale(1);
    /* height: 300px !important; */
    z-index: 3000;
  }
  
  .card-left-1 {
    transform: scale(1) translateX(-150px);
    z-index: 2;
  }
  
  .card-left-2 {
    transform: scale(1) translateX(-300px);
    z-index: 1;
  }
  
  .card-right-1 {
    transform: scale(1) translateX(150px);
    z-index: 2;
  }
  
  .card-right-2 {
    transform: scale(1) translateX(300px);
    z-index: 1;
  }


  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333; /* Add your image or background here */
    margin-top: 0px;
  }
  
  .text-line {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #333; /* Add your desired color */
  }











  body{
    background: #aeaeae;
  }
  .list{
      width: 20rem;
      height: 20rem;
      background: #e5e5e5;
      display: inline-block;
      text-align: center;
      border-radius: 5%;
      position: relative;
      overflow: hidden;
      margin: 7rem 2rem 0 2rem;
      cursor: pointer;
    }
    
    #menu {
      position: relative;
      width: 90%;
      height: 26rem;
      top: 1rem;
      background-color: rgb(241, 241, 241);
      margin: 0 7rem 0 5rem;
      border-radius: 5rem;
    }
    #cards {
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      list-style: none;
      padding: 0;
      position: relative;
      left: 10%;
      bottom: 60px;
    }
    
    .list p{
      width: 300px hidden;
    }
    #prev {
      display: inline-block;
      position: absolute;
      left: 2%;
      cursor: pointer;
      font-size: 60px;
      z-index: 1;
      width: 50px;
      height: 50px;
    }
    #next {
      display: inline-block;
      position: absolute;
      right: 2%;
      cursor: pointer;
      font-size: 60px;
      z-index: 1;
      width: 50px;
      height: 50px;
    }
    #prev,
    #next{
      margin-top: 11rem;
      color: #aaaaaa;
    }
    @media (max-width: 1026px) {
      #menu {
      width: 95%;
      height: 22rem;
      top: 0.5rem;
      margin: 0 2% 0 2%;
      }
      .list{
        width: 17rem;
        height: 17rem;
        background: #e5e5e5;
        display: inline-block;
        text-align: center;
        border-radius: 5%;
        position: relative;
        overflow: hidden;
        margin: 6rem 1rem 0 1rem;
      }
      #prev,
    #next{
      margin-top: 9.5rem;
    }
    }