.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .graphetira {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card_service {
    margin: 40px;
    width: 300px;
    height: 300px;
    /* border-radius: 40px !important; */
  /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card_service .card_image {
    width: inherit;
    height: inherit;
    /* border-radius: 40px; */
  }
  
  .card_service .card_image img {
    width: inherit;
    height: inherit;
    /* border-radius: 40px; */
    object-fit: cover;
  }
  
  .card_service .card_title {
    text-align: center;
    /* border-radius: 0px 0px 40px 40px; */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -60%;
    height: 40px;
  }
  
  .card_service:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */



  .scard1{
   background: #5CB7C9; 
   color: #024B61;
  }
  .scard2{
    background: #F7D215;
    color: #F78E20;
  }
  .scard3{
    background: #03597B;
    color: #EDE9EA;
  }
  .scard4{
    background: #F37422;
    color: #EDE9EA;
  }
  .scard5{
    background: #5CB7C9;
    color: #024B61;
  }
  .scard6{
    background: #F78E20;
    color: #EDE9EA;
  }